@charset "GBK";
/* line 7, ../sass/reset.scss */
body, input, label, select, option, textarea, button, fieldset, legend {
  font: 14px Helvetica, Arial, "Microsoft Yahei", "微软雅黑", sans-serif;
}

/* line 11, ../sass/reset.scss */
p, ul, ol {
  margin: 0;
  padding: 0;
}

/* line 16, ../sass/reset.scss */
ul, ol {
  list-style: inside;
}

/* line 21, ../sass/reset.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 27, ../sass/reset.scss */
ul.line li, ol.line li {
  list-style: none;
  display: inline-block;
}

/* line 33, ../sass/reset.scss */
.alarm {
  color: red;
}

/* line 37, ../sass/reset.scss */
.hide {
  display: none;
}

/* line 5, ../sass/base.scss */
#content-wrapper {
  margin: 0 auto;
  width: 960px;
  padding: 10px 0;
  border-bottom: 1px dashed #555555;
}

/* line 12, ../sass/base.scss */
#add_weixin:hover .hide {
  display: block;
}

/* line 17, ../sass/base.scss */
.top-links li {
  margin-right: 15px;
}

/* line 22, ../sass/base.scss */
nav, hgroup, article, #person_info {
  width: 960px;
  margin: 0 auto;
}

/* line 27, ../sass/base.scss */
footer {
  text-align: center;
}
