<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>lilyslily</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>welcome.html</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <filter>
    <filter-name>all</filter-name>
    <filter-class>com.filter.AllFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>all</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>index</filter-name>
    <filter-class>com.filter.IndexFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>index</filter-name>
    <url-pattern>/index.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.servlets.Login</servlet-class>
    <init-param>
      <param-name>loginPage</param-name>
      <param-value>/pages/login.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>name</param-name>
      <param-value>lily_vain</param-value>
    </init-param>
    <init-param>
      <param-name>pass</param-name>
      <param-value>54285123fox</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>article</servlet-name>
    <servlet-class>com.servlets.ArticleServlet</servlet-class>
    <init-param>
      <param-name>listPage</param-name>
      <param-value>pages/article/default.jsp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>article</servlet-name>
    <url-pattern>/Article</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>works</servlet-name>
    <servlet-class>com.servlets.WorkServlet</servlet-class>
    <init-param>
      <param-name>showPage</param-name>
      <param-value>pages/works/default.jsp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>works</servlet-name>
    <url-pattern>/Work</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>message</servlet-name>
    <servlet-class>com.servlets.MessageServlet</servlet-class>
    <init-param>
      <param-name>listPage</param-name>
      <param-value>pages/message/default.jsp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>message</servlet-name>
    <url-pattern>/Message</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>links</servlet-name>
    <servlet-class>com.servlets.LinkServlet</servlet-class>
    <init-param>
      <param-name>listPage</param-name>
      <param-value>pages/link/default.jsp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>links</servlet-name>
    <url-pattern>/Link</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core_rt</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>